@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

.page-main {
  flex-grow: 1;
}

.page-container {
  margin: 40px auto 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #444444;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Rubik", sans-serif;
}

.main-header {
  position: relative;
  background-color: #ffe17f;
  margin: 0 auto;
  padding: 48px 60px 11px;
  width: 1160px;
  box-sizing: border-box;
  z-index: 0;
}

.header-navigation {
  padding-bottom: 5px;
}

.header-navigation-link {
  position: absolute;
  top: -20px;
}

.header-top-container {
  display: flex;
  margin-bottom: 45px;
  flex-wrap: wrap;
  justify-content: space-between;

}

.header-bottom-container {
  display: flex;
  justify-content: space-between;
}

.header-navigation-link {
  margin: 0;
  padding: 0;
}

.navigation-svg:hover{
  opacity: 0.6;
}

.header-navigation-link:focus{
border:none;
outline:2px solid #af4fff;
}

.header-navigation-link:active{
  opacity: 0.3;
  outline:none;
}

.finder-form {
  display: flex;
  margin-right: 53px;
  position: relative;
}

.finder-field {
  margin: 0;
  padding: 0 48px;
  background-color: #ffe17f;
  border-radius: 50px 0 0 50px;
  width: 359px;
  min-height: 40px;
  box-sizing: border-box;
  border: 2px solid #000;
  border-right: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  position: relative;
  color: #000000;
}

.finder-field::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  top: 13px;
  left: 18px;
}

.find-button {
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: #ffe17f;
  border-radius: 0 50px 50px 0;
  padding: 10px;
  width: 160px;
  min-height: 40px;
  box-sizing: border-box;
  border: 2px solid #000;
}

.find-button:hover {
  color: #fff;
  background-color: #000000;
}

.find-span {
  margin: 0;
  padding: 0;
}

.find-button:active .find-span {
  opacity: 0.3;
}

.find-button:focus {
  outline: 2px solid #af4fff;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 468px;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 31px;
}

.navigation-item {
  align-self: center;
}

.navigation-item:hover {
  opacity: 0.6;
}

.navigation-item:active .navigation-item-link {
  opacity: 0.3;
  border: none;
  outline: none;
}

.navigation-item-link {
  color: #000000;
  text-decoration: none;
  padding-left: 25px;
  position: relative;
  display: block;
}

.navigation-item-link:focus {
  outline: 2px solid #af4fff;
}

.navigation-come::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 12px;
  background-image: url("../images/people.svg");
  background-repeat: no-repeat;
  left: 0;
  top: 9px;
}

.navigation-compare {
  margin-left: 120px;
}

.navigation-compare::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 12px;
  background-image: url("../images/compare.svg");
  background-repeat: no-repeat;
  left: 0;
  top: 9px;
}

.navigation-basket::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 21px;
  background-image: url("../images/basket.svg");
  background-repeat: no-repeat;
  left: 0;
  top: 7px;
}

.navigation-link {
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #000000;
  text-decoration: none;
  position: relative;
  letter-spacing: 3.6px;
  padding-right: 78px;
  padding-top: 15px;
  padding-bottom: 17px;

}

.navigation-link::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 1px;
  left: 245px;
  background-image: url("../images/plus.svg");
  opacity: 0.3;
  background-repeat: no-repeat;
}

.navigation-link:hover:before {
  opacity: 1;
}

.navigation-link:focus {
  outline: 2px solid #af4fff;
}

.submenu {
  display: none;
  width: 1160px;
  margin: 0 auto;
  background-color: #ffe17f;
  position: absolute;
  left: 0;
  top: 180px;
  height: 170px;
}

.submenu-small-container {
  width: 590px;
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
}

.navigation-devices-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-devices-item {
  margin-bottom: 30px;
}

.navigation-devices-link {
  color: #000000;
  text-decoration: none;
}

.navigation-product-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 520px;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 5px 43px;
}

.navigation-product-item:hover .navigation-product-link {
  opacity: 0.6;
  border: none;
  outline: none;
}

.navigation-product-item:active {
  opacity: 0.3;
}

.navigation-product-link:focus {
  outline: 2px solid #af4fff;
}

.navigation-product-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  letter-spacing: 3.6px;
}

.yellow-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #000000;
  text-decoration: none;
  margin-bottom: 40px;
  position: relative;
  letter-spacing: 3.6px;
}

.yellow-link:focus {
  outline: 2px solid #af4fff;
  border: none;
}

.yellow-more {
  padding-left: 38px;
  padding-right: 34px;
}

.yellow-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  background-color: #ffe17f;
  z-index: -4;
}

.yellow-link:hover::before {
  height: 40px;
  top: -10px
}

.yellow-link:active::before {
  background-color: #ffc700;
}

.yellow-link:active {
  outline: none;
}

.yellow-more::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 220px;
}

.yellow-text {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.slider {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 143px;
  background-color: #ffe17f;
}

.characters-container {
  margin-top: 115px;
  z-index: 2;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 5;
}

.slider-item {
  display: none;
}

.slider-item-active {
  display: flex;
  justify-content: space-between;
}

.slider-image {
  margin-right: 40px;
  z-index: 2;
}

.slider-title-text {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  position: relative;
  z-index: 33;
}

.slider-title-text::before {
  content: "";
  position: absolute;
  left: 307px;
  top: -93px;
  width: 250px;
  height: 144px;
  z-index: -1;
  background-image: url("../images/first-slide.svg");
  background-repeat: no-repeat;
}

.slider-text {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.slider-span {
  font-family: "Rubik";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  display: block;
  color: #000000
}

.character-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 20px;
}

.character-item {
  margin: 0;
  padding: 0;
}

.character-span {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.slider-button {
  background-repeat: no-repeat;
  width: 20px;
  height: 60px;
  border: none;
  position: absolute;
  top: 220px;
  cursor: pointer;
  z-index: 10;
  background-color: transparent;
}

.slider-button:hover{
  opacity: 0.6;
}

.slider-button:focus{
  border:none;
  outline:2px solid #af4fff;
}

.slider-button:active{
  opacity:0.3;
  outline: none;
}

.slider-button-left {
  background-image: url("../images/arrow-left.svg");
  left: 50px;
}

.slider-button-right {
  background-image: url("../images/arrow-right.svg");
  left: 530PX
}

.bulits-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 80px;
  justify-content: space-between;
  margin-left: 537px;
}

.bulit-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 4;
}

.bulit-current {
  background-color: #000000;
}

.bulit-button:hover{
  opacity:0.6;
}

.bulit-button:focus{
  border:none;
  outline:2px solid #af4fff;
}

.bulit-item:active{
  opacity:0.3;
  outline:none;
}

.devices {
  width: 1160px;
  margin: 0 auto;
}

.devices-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 143px;
  justify-content: flex-start;
  position: relative;
  flex-wrap: wrap;
  gap: 20px 35px
}

.devices-item {
  width: 164px;
}

.devices-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  display: block;
  position: relative;
  padding-top: 190px;
}

.devices-link:active {
  opacity: 0.3;
}

.devices-link:focus{
  border:none;
  outline: 2px solid #af4fff;
}

.devices-link::before {
  content: "";
  position: absolute;
  width: 164px;
  height: 160px;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  background-color: #ffe17f;
}

.devices-link:hover::before {
  background-color: #ffc700;
}

.virt-real::before {
  background-image: url("../images/virt-real.svg");
}

.monopods:before {
  background-image: url("../images/monopods.svg");
}

.cameras::before {
  background-image: url("../images/cameras.svg");
}

.fitness::before {
  background-image: url("../images/fitness.svg");
}

.watch::before {
  background-image: url("../images/watch.svg");
}

.copters::before {
  background-image: url("../images/copter.svg");
}

.services {
  width: 100%;
  position: relative;
}

.services::after {
  content: "";
  position: absolute;
  width: 7px;
  height: calc(100% - 178px);
  background-color: #000;
  top: -64px;
  left: 460px;
}

.services-container {
  background-color: #f0f0f0;
  padding-bottom: 72px;
  position: relative;
  margin-bottom: 70px;
}

.services-container::before {
  content: "";
  width: 100%;
  height: 47px;
  background-color: #fff;
  position: absolute;
}

.service-container {
  display: flex;
  margin-bottom: 70px;
  width: 1160px;
  margin: 0 auto;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 123px;
  z-index: 10;
}

.services-item {
  margin-bottom: 35px;
  position: relative;
  letter-spacing: 3.6px;
}

.services-link {
  padding-left: 21px;
}

.service-item {
  display: none;
}

.current-item {
  display: flex;
  flex-direction: column;
}

.black-button {
  width: 280px;
  background-color: #000;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  box-sizing: border-box;
}

.black-link {
  color: #ffe17f;
}

.yellow-credit {
  padding-left: 33px;
  padding-right: 29px;
}

.yellow-guarantee {
  padding-right: 13px;
}

.yellow-guarantee::before {
  content: "";
  position: absolute;
  width: 160px;
  top: 7px;
  z-index: -5;
}

.yellow-credit::before {
  content: "";
  position: absolute;
  width: 160px;
  top: 7px;
  z-index: -5;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 10;
  position: relative;
}

.service-list::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 550px;
  width: 140px;
  height: 165px;
  background-image: url("../images/postman.svg");
  background-repeat: no-repeat;
}


.service-text {
  margin: 0;
  padding: 0;
  width: 453px;
}

.service-span {
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  padding: 0;
  display: block;
  color: #000000;
  margin-bottom: 34px;
  margin-top: 20px;
}

.rare-container {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  background-color: #f0f0f0;
}

.services-link-rare {
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding: 34px 125px;
  position: relative;
  display: block;
}

.services-link-rare::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 100%;
  background-color: #ffe17f;
  top: 0;
  left: 0;
  background-image: url("../images/car.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.services-link-rare::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 30%;
  right: 50px;
  background-color: #dcdcdc;
  border-radius: 50%;
  background-image: url("../images/point.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;
}

.services-link-rare:hover::before {
  background-color: #ffc700;
}

.services-link-rare:hover::after{
  opacity:1;
}

.services-link-rare:focus{
  border:none;
  outline:2px solid #af4fff;
}


.services-link-rare:active {
  opacity: 0.3;
  outline:none;
}


.about {
  position: relative;
  padding-top: 47px;
  z-index: 5;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.about-title {
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  padding: 0;
  color: #000000;
  margin-bottom: 48px;
}

.about-text {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  width: 497px;
}

.about-list {
  list-style: none;
  margin-bottom: 40px;
}

.about-item {
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 19px;
  position: relative;
}

.about-item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffc700;
  top: 5px;
  left: -40px;
}


.yellow-link-about {
  position: relative;
  letter-spacing: 3.6px;
  padding-left: 23px;
  padding-right: 20px;
}

.yellow-link-about::before {
  content: "";
  position: absolute;
  width: 270px;
  top: 6px;
  left: 0;
}

.contacts {
  position: relative;
  padding-top: 47px;
  z-index: 0;
}

.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;

}

.contacts-title {
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  padding: 0;
  color: #000000;
  margin-bottom: 48px;
}

.contacts-text {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  width: 498px;
}

.contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts-item-text {
  font-family: "Rubik";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;
  color: #000000;
  margin-bottom: 15px;
}

.contacts-address {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.tel-text {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  width: 160px;
}

.contacts-tel {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.yellow-link-contacts {
  padding-left: 33px;
  padding-right: 30px;
}

.yellow-link-contacts::before {
  content: "";
  position: absolute;
  width: 259px;
  top: 7px;
  left: 0;
}

.subscribe {
  width: 100%;
  background-color: #f0f0f0;
  padding-top: 64px;
  padding-bottom: 40px;
}

.subscribe-top-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 144px;
  justify-content: space-between;
}

.subscribe-title {
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  padding: 0;
  color: #000000;
  width: 348px;
  padding-bottom: 10px;
}

.subscribe-text {
  margin: 0;
  padding: 0;
  width: 527px;
}

.subscribe-bottom-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.subscribe-form {
  margin: 0;
  padding: 0;
  width: 560px;
  display: flex;
}

.subscribe-field {
  width: 557px;
  height: 56px;
  font-family: "Rubik", sans-serif;
  border: none;
  border-bottom: 2px solid #c4c4c4;
  background-color: #f0f0f0;
  padding-left: 16px;
  color:#000000
}

.subscribe-field:hover{
  background-color: #dcdcdc;
  outline: none;
}

.subscribe-field:focus{
  border:none;
  outline:2px solid #af4fff;
}

.subscribe-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  width: 253px;
  height: 60px;
  padding: 18px 39px;
  box-sizing: border-box;
  border-color: #C4C4C4;
  border: 2px solid #c4c4c4;
  letter-spacing: 3.6px;
}

.subscribe-button:hover{
  background-color: #000000;
  color:#ffffff;
}

.subscribe-button-span{
  margin: 0;
  padding: 0;
}

.subscribe-button:focus{
  border:none;
  outline: 2px solid #af4fff;
}

.subscribe-button:active .subscribe-button-span{
opacity: 0.3;
}

.subscribe-free-text {
  margin: 0;
  padding: 0;
  align-self: center;
  padding-left: 32px;
  position: relative;
}

.subscribe-free-text::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../images/check-mark.svg");
  background-repeat: no-repeat;
  top: 7px;
  left: 0;
}

.main-footer {
  margin: 0;
  padding: 0;
  background-color: #444444;
  width: 100%;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  min-height: 100%;
  color: #FFFFFF;
  padding-top: 62px;
  padding-bottom: 62px;
  position: relative;
}

.footer-container::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  top: 251px;
  left: 0;
}

.footer-contacts-container {
  display: flex;
  justify-content: space-between;
}

.contacts-footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 445px;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 62px;
  gap: 10px 69px
}

.contacts-image-item {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.30);
  border-radius: 50%;
  background-position: 50% 50%;
}

.contacts-image-item:hover {
  background-color: #ffc700;
}

.contacts-image-item:active .contacts-image {
  opacity: 0.3;
}

.contacts-image-link:focus {
  border: none;
  outline: 2px solid #af4fff;
}

.contacts-image {
  padding: 14px 12px;
}

.contacts-image:hover{
  opacity:0.6;
}

.contacts-link:focus{
  border: none;
  outline:2px solid #af4fff;
}

.contacts-image:active{
  opacity:0.3;
  outline:none
}

.contacts-footer-link {
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}

.contacts-footer-link::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #ffc700;
  top: 23px;
  left: 0;

}

.contacts-footer-link:hover{
  color: #ffc700;

}

.contacts-footer-link:focus{
  border:none;
  outline:2px solid #af4fff;
}

.contacts-footer-link:active{
  opacity: 0.3;
  outline: none;
}

.contacts-footer-address {
  width: 239px;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer-tel-text {
  margin: 0;
  padding: 0;
  width: 180px;
}

.contacts-footer-tel {
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
  width: 175px;
}

.contacts-footer-tel:hover{
  color: #ffc700;
}

.contacts-footer-tel:active{
  opacity: 0.3;
}

.contacts-footer-tel:focus{
  border: none;
  outline: 2px solid #af4fff;
}

.contacts-image-link:active{
outline: none;
}

.footer-bottom-container {
  display: flex;
  width: 655px;
  justify-content: space-between;
  margin-left: 503px;
}

.contacts-image-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 150px;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px 15px;
}

.html-academy-svg{
  fill:#ffc700;
}

.html-academy-svg:hover{
fill:#ffffff;
}

.html-academy-link:focus{
  border:none;
  outline:2px solid #af4fff
}

.html-academy-link:active{
  opacity: 0.3;
  outline: none;
}

.catalog-header {
  padding-bottom: 35px;
}

.catalog-header-container {
  margin-bottom: 35px;
}

.navigation-container {
  width: 1045px;
  margin: 0 auto;
  margin-bottom: 34px;
}

.monopods-selfie {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  color: #000000;
}

.main-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 430px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.main-navigation-link {
  text-decoration: none;
  color: #000000;
}

.variants {
  width: 100%;
  background-color: #f0f0f0;
}

.variants-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.variants-list {
  padding: 0;
  list-style: none;
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.variants-button {
  margin: 0;
  padding: 0;
}

.variants-catalog-part {
  margin: 0;
  padding: 0;
  border: none;
}

.variants-catalog-part-title {
  margin: 0;
  padding: 0;
}

.variants-catalog-part-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.variants-form-link {
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding: 0;
}

.images-container {
  background-color: #fff;
  width: 840px;
}

.variants-selfie-list {
  margin: 0;
  list-style: none;
  width: 760px;
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
  padding: 70px 40px 0;
  margin-bottom: 62px;
}

.selfie-item-container {
  width: 360px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.variants-selfie-text {
  margin: 0;
  padding: 0;
}

.variants-selfie-price {
  margin: 0;
  padding: 0;
}

.variants-selfie-link {
  text-decoration: none;
  color: #000000;
  font-weight: 700;

}

.download-more {
  padding: 18px 39px;
  width: 760px;
  border: 3px solid #e5e5e5;
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  margin-left: 40px;
  margin-bottom: 44px;
}

.pagination {
  background-color: #ebebeb;
  margin-left: 40px;
  margin-right: 40px;
  height: 71px;
  margin-bottom: 78px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 760px;
  justify-content: space-between;

}

.pagination-small {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  margin-top: 15px;
}

.pagination-word {
  width: 128px;
  text-align: center;
  margin-top: 25px;

}

.pagination-item {
  padding: 10px 15px;
}

.pagination-link {
  text-decoration: none;
  color: #444;
}

.back {
  color: #444444;
  text-transform: uppercase;
  font-weight: 800;
  opacity: 0.3;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.go {
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.pagination-text {
  margin: 0;
  padding: 0;
}
